html {
     margin:0;
}
 body {
     margin:0;
}
 h1 {
     margin: 0 ;
     background-color: #2196F3;
     color: white;
     text-align: center;
     font-size : 24px;
     height: 63px 
}
 #wrapper {
     width: 320px;
}
.control {
	    margin-left: 12px;
	    margin-top: 12px;
	    margin-bottom: 12px;
}
.row {
	   margin-top: 12px;
}
 .switch {
     position: relative;
     display: inline-block;
     width: 50px;
     height: 24px;
}
/* Hide default HTML checkbox */
 .switch input {
     opacity: 0;
     width: 0;
     height: 0;
}
/* The slider */
 .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     -webkit-transition: .4s;
     transition: .4s;
}
 .slider:before {
     position: absolute;
     content: "";
     height: 16px;
     width: 16px;
     left: 4px;
     bottom: 4px;
     background-color: white;
     -webkit-transition: .4s;
     transition: .4s;
}
 input:checked + .slider {
     background-color: #2196F3;
}
 input:focus + .slider {
}
 input:checked + .slider:before {
     -webkit-transform: translateX(26px);
     -ms-transform: translateX(26px);
     transform: translateX(26px);
}
/* Rounded sliders */
 .slider.round {
     border-radius: 34px;
}
 .slider.round:before {
     border-radius: 50%;
}
 input[type=text], select {
     width: 58px;
     height: 24px;
     padding: 8px;
     display: inline-block;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
     font-size: 18px;
     margin-left: 8px;
}
 .switcher {
     vertical-align: middle;
     margin-top: -5px;
     padding-left: 40px;
     display: inline-block;
}    
 label {
     font-size: 18px;
     user-select: none;
     padding-left: 2px;
     display: inline-block;
     width: 36px;
}
 p.headline{
     margin: 0;
     position: absolute;
     top: 50%;
     left: 50%;
     margin-right: -50%;
     transform: translate(-50%, -50%);
     color: white;
     font-size : 24px;
}
 div.headline{
     height: 63px;
     position: relative;
     background-color: #2196F3;
     font-weight: bolder 
}